*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;    
}
.container{
    position: relative;
    width: 1250px;
    height: 605px;
    background: gray;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px; 
    text-transform: capitalize;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.search button :hover{
    background: #849599;
}
.card{
    width: 100%;
    height: 480px;
    background: linear-gradient(135deg, #d9e43d, #1ca8d3);
    color: #fff;
    margin: 100px;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    margin-top: 19px;
    margin-left: -11px;
}
.icon{
    width: 170px;
    margin-top: 30px;
    margin-right: 850px;
}
.weather h1{
    font-size: 27px;
    margin-right: 870px;
}
.weather h2{
    font-size: 55px;
    font-weight: 500;
    margin-right: 850px;
}
.weather h3{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    margin-right: 850px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity{
    font-size: 25px;
    margin-top: 10px;
}
.wind{
    font-size: 25px;
    margin-top: 10px;
    margin-right: 850px;
}
.separator {
    width: 2px; 
    background-color: white;
    height: 73.8vh; 
    margin-right: 10px;
    margin-left: 330px; 
    margin-top: -435px;
}
.past-weather h4{
    margin-top: -460px;
    margin-left: 310px;
    font-size: 30px;
}
.weathercontainer{
    margin-top: 30px;
    margin-left: 390px;
}
.Weathericon img{
    width: 100px;
    height: 100px;
}
.weathercontainer h5{
    font-size: 25px;
    margin-bottom: 10px;
}
.temp h6{
    font-size: 25px;
    margin-top: 10px;
}
.weathercontainer1{
    margin-top: -150px;
    margin-left: 550px;
}
.weathericon img{
    width: 70px;
    height: 10px;
}
.weathercontainer1 h5{
    font-size: 25px;
    margin-top: -90px;
}
.temp h6{
    font-size: 25px;
    margin-top: 15px;
}
.weathercontainer2{
    margin-top: -150px;
    margin-left: 719px;
}
.weathericon img{
    width: 70px;
    height: 10px;
}
.weathercontainer2 h5{
    font-size: 25px;
    margin-top: -90px;
}
.temp h6{
    font-size: 25px;
    margin-top: 15px;
}
.weathercontainer3{
    margin-top: -150px;
    margin-left: 890px;
}
.weathericon img{
    width: 70px;
    height: 10px;
}
.weathercontainer3 h5{
    font-size: 25px;
    margin-top: -90px;
}
.temp h6{
    font-size: 25px;
    margin-top: 15px;
}
.weathercontainer4{
    margin-top: -150px;
    margin-left: 1050px;
}
.weathericon img{
    width: 70px;
    height: 10px;
}
.weathercontainer4 h5{
    font-size: 25px;
    margin-top: -90px;
}
.temp h6{
    font-size: 25px;
    margin-top: 15px;
}

.separator1 {
    border-top: 2px solid white;
    margin: 10px -10px;
    margin-top: 50px;
    margin-left: 330px; 
}
.datetime{
    width: 340px;
    padding: 15px 10px;
    margin-left: 580px;
    margin-top: 50px;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
}
  